html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
ul {
  padding: initial;
}
.text-header {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid;
  padding: 30px;
  margin-bottom: 5px;
}
.text-navigation {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 5px;
}
.text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid;
  width: 70%;
  margin-right: 5px;
}
.text-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid;
  width: 30%;
}
.text {
  word-break: break-all;
  margin: auto;
}
.text-footer {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 15px;
  margin: 5px;
}
.container-header {
  display: block;
  margin: 5px;
}
.container-content {
  display: flex;
  margin: 5px;
  min-height: 99%;
  justify-content: space-between;
}
