.box {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 250px;
  left: 250px;
  background-color: red;
  animation: moving 3s infinite linear;
}
@keyframes moving {
  100% {
    background-color: orange;
    transform: rotate(180deg);
    background-color: green;
    transform: rotate(180deg);
  }
}
